{%extends "AppBundle:layouts:layout.html.twig"%}

{%block javascripts%}
    {{parent() }}
    <script src="{{ asset ('assets/js/custom/users.js') }}" type="text/javascript"></script>
{%endblock%}

{% block content%}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1>Gente</h1>
            <div class="count">
                <span class="label label-primary">
                    Total de personas: {{ pagination.getTotalItemCount }}
                </span> 
            </div>
            <hr />
            <div class="box-content box-users">
                {% for user in pagination %}
                    <div class="col-lg-12 user-item">
                        <div class="avatar">
                            {%if user.image == null%}
                                <img src="{{asset('assets/images/default.png')}}" alt="" />
                            {%else%}
                                <img src="{{asset('uploads/users/'~user.image)}}" alt="" />
                            {%endif%}
                        </div>
                        <div class="user-item-content">
                            <p>{{user.name}} {{user.surname}} - {{user.nick}} </p>
                            <p>{{user.bio}}</p>
                            
                        </div>
                            <div class="clearfix"></div>
                            <hr />
                    </div>
                {% endfor %}
            </div>   
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
{% endblock %}
